*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $font;
	font-size: 62.5%;
	font-weight: 300;
	color: $dark-color-1;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: $light-color-2;
}

.mb-small {
	margin-bottom: 1rem;
}
.mb-medium {
	margin-bottom: 2rem;
}
.mb-large {
	margin-bottom: 3rem;
}
