.card {
	width: 100%;
	height: 60rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.25s ease;

	.heading-two {
		margin-bottom: 2rem;
		font-size: 3rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	.heading-three {
		margin-bottom: 2rem;
		font-size: 2.5rem;
		font-weight: 600;
		letter-spacing: 0.2rem;
	}

	&__info-bottom .paragraph {
		text-align: center;
		line-height: 1.5;
		font-size: 1.8rem;
		font-weight: 600;
		letter-spacing: 0.1rem;
		color: #999;

		.detail {
			font-size: 2rem;
			color: #222;
		}
	}
}

.card:hover {
	animation: bounce 0.5s linear;
}

@keyframes bounce {
	20% {
		transform: translateY(-0.5rem);
	}
	40% {
		transform: translateY(0.5rem);
	}
	60% {
		transform: translateY(-0.5rem);
	}
	80% {
		transform: translateY(0);
	}
}
