.pokedex {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 170rem;
	width: 100%;
	margin: 0 auto;
	padding: 10rem 3rem;

	.heading-one {
		margin-bottom: 10rem;
		font-size: 3rem;
		font-weight: 500;
		letter-spacing: 0.2rem;
	}

	.button {
		display: inline-block;
		outline: none;
		border: none;
		border-radius: 1rem;
		padding: 1rem 3rem;
		font-size: 1.4rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		transition: 0.3s ease;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 35rem);
		gap: 3rem;

		@media screen and (max-width: 1550px) {
			grid-template-columns: repeat(3, 35rem);
		}

		@media screen and (max-width: 1150px) {
			grid-template-columns: repeat(2, 35rem);
		}

		@media screen and (max-width: 650px) {
			grid-template-columns: repeat(1, 45rem);
		}

		@media screen and (max-width: 360px) {
			grid-template-columns: repeat(1, 40rem);
		}
	}
}
