// FONTS
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

$showcase-font: 'Merriweather', serif;
$testimonial-font: 'Xanh Mono', monospace;
$primary-font: 'Roboto', sans-serif;

// COLORS
$primary-color-1: #423a36; // #c19b76
$primary-color-2: #cf9d6c;

$dark-color-1: #191919;
$dark-color-2: #3b3430;

$light-color-1: #fff;
$light-color-2: #faf6f1;
$light-color-3: #c8c0b8;
$light-color-4: #e9e9e9;
$showcase-gradient: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

// TRANSITIONS
$element-transition: all 0.4s ease;
$hover-transition: all 0.25s ease-in-out;

// BREAKPOINTS
$bp-desktopLarge: 1700px;
$bp-desktopSize: 1500px;
$bp-laptopSize: 1300px;
$bp-tabletSize: 1000px;
$bp-tabletSmall: 850px;
$bp-mobileLarge: 650px;
$bp-mobileMedium: 500px;
