@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
$font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// COLORS
$light-color-1: #fff;
$light-color-2: #939393;
$dark-color-1: #111;
