.header__navbar {
	transition: 0.5s linear;
}

.header__showcase {
	position: relative;
	background-image: url('../../images/foodtruck-slider-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	&-content {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -60%);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
