.header__navbar {
	transition: 0.5s linear;

	&-inner {
		position: relative;
		height: 100%;
		max-width: 120rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10rem;

		@media screen and (max-width: $bp-xlarge) {
			max-width: 100rem;
			justify-content: flex-end;
		}

		@media screen and (max-width: $utility-bp-1) {
			max-width: 90rem;
		}

		.links__left,
		.links__right {
			display: flex;
			align-items: center;

			@media screen and (max-width: $bp-xlarge) {
				display: none;
			}
		}

		&__logo {
			pointer-events: none;
			user-select: none;

			@media screen and (max-width: $bp-xlarge) {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	&-mobile {
		position: fixed;
		top: 0;
		right: -300px;
		height: 100%;
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: $dark-color-2;
		transition: $hover-transition;
		z-index: 1000;

		.transparent-button {
			position: absolute;
			top: 3rem;
			right: 3rem;
			color: $light-color-1;
			font-size: 3rem;
		}

		.vertical-list-item {
			margin: 3rem 0;

			.navbar-link {
				font-size: 3rem;
				font-weight: 800;
				text-transform: uppercase;
				color: $light-color-1;
				transition: $hover-transition;
			}

			&:hover .navbar-link {
				color: $primary-color;
			}
		}
	}
}

.header__navbar.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10rem;
	background-color: rgba(0, 0, 0, 0.95);
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

	.header__navbar-inner__logo {
		height: 100%;
	}
}

.header__showcase {
	position: relative;
	background-image: url('../../images/foodtruck-slider-bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	&-content {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -60%);
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
