.team {
	background-image: url('../../images/foodtruck-sectionbg3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&__members {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		gap: 3rem;
		max-width: 120rem;
		margin: 0 auto;

		@media screen and (max-width: $bp-xlarge) {
			max-width: 100rem;
		}

		@media screen and (max-width: $bp-large) {
			max-width: 125rem;
		}

		@media screen and (max-width: $utility-bp-1) {
			grid-template-columns: repeat(2, 1fr);
			gap: 5rem;
		}

		@media screen and (max-width: $bp-small) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 5rem;
			border: 0.5rem double $light-color-3;

			@media screen and (max-width: $bp-large) {
				max-width: 30rem;
			}

			@media screen and (max-width: $bp-small) {
				max-width: 80%;
			}
		}
	}
}
