.dish {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	min-height: 40vh;

	&__left {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #f8f4ed;
		background-image: url('../../images/foodtruck-wrapbg3.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__right img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
