@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
$font-family: 'Playfair Display', serif;

$container-gradient: linear-gradient(to bottom right, rgb(24, 27, 33), rgb(49, 53, 62));
$background-gradient: linear-gradient(to right, rgb(13, 16, 19), rgb(16, 19, 23));
$button-gradient: linear-gradient(to bottom right, rgb(238, 209, 172), rgb(210, 181, 145));

$primary-color: #c0a789;
$secondary-color: #444240;

$dark-text-color: #16191e;
$light-text-color: #5b5d60;
