@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
.primary-button, .arrow-button, .transparent-button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 1300px) {
  .primary-button, .arrow-button, .transparent-button {
    padding: 1.5rem;
  }
}

.heading-one, .heading-one-showcase, .heading-one-testimonial, .heading-two, .heading-two-showcase, .heading-three, .heading-three-showcase, .heading-three-testimonial, .heading-four, .heading-four-showcase {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
code,
em,
img,
small,
strong,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  color: #191919;
  scroll-behavior: smooth;
}

.mb-small {
  margin-bottom: 1rem;
}

.mb-medium {
  margin-bottom: 2rem;
}

.mb-large {
  margin-bottom: 3rem;
}

.mb-xlarge {
  margin-bottom: 4rem;
}

.heading-one {
  font-size: 3rem;
}

.heading-one-showcase {
  font-size: 6rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .heading-one-showcase {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .heading-one-showcase {
    font-size: 3rem;
  }
}

.heading-one-testimonial {
  font-size: 6rem;
  font-family: "Xanh Mono", monospace;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .heading-one-testimonial {
    font-size: 4rem;
  }
}

.heading-two {
  font-size: 3rem;
}

.heading-two-showcase {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .heading-two-showcase {
    font-size: 3rem;
  }
}

.heading-three {
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {
  .heading-three {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .heading-three {
    font-size: 1.2rem;
  }
}

.heading-three-showcase {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.heading-three-testimonial {
  font-size: 2rem;
  font-family: "Xanh Mono", monospace;
}

@media screen and (max-width: 1000px) {
  .heading-three-testimonial {
    font-size: 1.3rem;
  }
}

.heading-four {
  font-size: 1.5rem;
}

.heading-four-showcase {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #fff;
  line-height: 1.5;
}

.label-showcase {
  font-family: "Xanh Mono", monospace;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.dark {
  color: #191919;
}

.light-text {
  color: #c8c0b8;
}

.primary-text {
  color: #cf9d6c;
}

.light-font {
  font-weight: 300;
}

.grid {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(5rem, 1fr) [center-start] repeat(12, minmax(min-content, 15rem)) [center-end] minmax(5rem, 1fr);
  background-image: url("../../images/pattern.jpg");
  background-repeat: repeat;
}

.header,
.header-secondary {
  height: 65vw;
  grid-column: 2 / span 12;
}

@media screen and (max-width: 1700px) {
  .header,
  .header-secondary {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 1300px) {
  .header,
  .header-secondary {
    height: 100vw;
  }
}

@media screen and (max-width: 1000px) {
  .header,
  .header-secondary {
    height: 100rem;
  }
}

.header-secondary {
  height: 60rem;
}

@media screen and (max-width: 1300px) {
  .header-secondary {
    height: 50rem;
  }
}

@media screen and (max-width: 1000px) {
  .header-secondary {
    height: 50rem;
  }
}

.showcase-details {
  grid-column: 4 / 12;
  padding: 15rem 0rem;
}

@media screen and (max-width: 1300px) {
  .showcase-details {
    grid-column: 1 / -1;
    padding: 15rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .showcase-details {
    padding: 10rem 5rem;
  }
}

@media screen and (max-width: 500px) {
  .showcase-details {
    padding: 10rem 2rem;
  }
}

.chooseUs {
  height: 80rem;
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1700px) {
  .chooseUs {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 1000px) {
  .chooseUs {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.testimonials {
  height: 65rem;
  grid-column: 4 / 12;
  padding: 10rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .testimonials {
    grid-column: 1 / -1;
    padding: 10rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 10rem 2rem;
  }
}

.activities {
  height: 80rem;
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1700px) {
  .activities {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 1000px) {
  .activities {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.attractions {
  grid-column: 4 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15rem 0;
}

@media screen and (max-width: 1300px) {
  .attractions {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 768px) {
  .attractions {
    padding: 10rem 2rem;
  }
}

.parallax-banner {
  height: 50rem;
  grid-column: 2 / span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1700px) {
  .parallax-banner {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 768px) {
  .parallax-banner {
    padding: 0 3rem;
  }
}

.rooms {
  grid-column: 4 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 0;
}

@media screen and (max-width: 1300px) {
  .rooms {
    grid-column: 1 / -1;
    padding: 15rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .rooms {
    padding: 10rem 2rem;
    text-align: center;
  }
}

.experience {
  height: 50rem;
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

@media screen and (max-width: 1700px) {
  .experience {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 1000px) {
  .experience {
    grid-template-columns: 1fr;
    height: auto;
    gap: 2rem;
  }
}

.blog-posts {
  grid-column: 4 / 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem 0;
}

@media screen and (max-width: 1300px) {
  .blog-posts {
    grid-column: 1 / -1;
    padding: 10rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-posts {
    padding: 10rem 2rem;
  }
}

.footer {
  grid-column: 2 / span 12;
}

@media screen and (max-width: 1700px) {
  .footer {
    grid-column: 1 / -1;
  }
}

.contact {
  grid-column: 2 / span 12;
  padding-top: 15rem;
}

@media screen and (max-width: 1300px) {
  .contact {
    grid-column: 1 / -1;
  }
}

.questions {
  grid-column: 2 / span 12;
  padding: 15rem 0;
}

@media screen and (max-width: 1000px) {
  .questions {
    grid-column: 1 / -1;
    padding: 10rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .questions {
    padding: 10rem 2rem;
  }
}

.header__topbar {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  transition: all 0.4s ease;
}

.header__topbar-logo {
  width: 20rem;
  height: 100%;
}

.header__topbar-logo img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.header__topbar .hamburger {
  display: none;
}

.header__navbar {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423a36;
  transition: all 0.4s ease;
}

.header__navbar .list-item {
  margin: 0 2rem;
}

.header__navbar .list-item .navbar-link {
  display: inline-block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.header__navbar .list-item .navbar-link::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  width: 0;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}

.header__navbar .list-item .navbar-link:hover::before {
  width: 50%;
}

.header__showcase,
.header__showcase-small {
  height: calc(100% - 17rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../images/header-showcase.jpg");
  background-size: cover;
  background-position: center;
}

.header__showcase .heading-one-showcase,
.header__showcase-small .heading-one-showcase {
  max-width: 90rem;
}

@media screen and (max-width: 1000px) {
  .header__showcase .heading-one-showcase,
  .header__showcase-small .heading-one-showcase {
    max-width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .header__showcase .heading-one-showcase,
  .header__showcase-small .heading-one-showcase {
    max-width: 85%;
  }
}

@media screen and (max-width: 1000px) {
  .header__showcase,
  .header__showcase-small {
    height: calc(100% - 10rem);
  }
}

.header__showcase-small {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../../images/header-showcase-small.jpg");
  background-position: bottom;
}

.showcase-details {
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 40rem));
  gap: 5rem;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .showcase-details {
    grid-template-columns: repeat(2, minmax(25rem, 40rem));
  }
}

@media screen and (max-width: 768px) {
  .showcase-details {
    margin: 0 auto;
    grid-template-columns: minmax(30rem, 60rem);
  }
}

@media screen and (max-width: 500px) {
  .showcase-details {
    grid-template-columns: 1fr;
  }
}

.showcase-details-card {
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 3rem;
  background-color: #fff;
  border: 0.5rem solid #c8c0b8;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 768px) {
  .showcase-details-card {
    height: 35rem;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .showcase-details-card {
    height: 40rem;
  }
}

.showcase-details-card .showcase-icon {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.5rem solid #c8c0b8;
  overflow: hidden;
}

.showcase-details-card .showcase-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase-details-card .heading-three-showcase {
  transition: all 0.25s ease-in-out;
}

.showcase-details-card:hover .heading-three-showcase {
  color: #cf9d6c;
}

.showcase-details-card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .chooseUs__image {
    height: 50rem;
  }
}

.chooseUs__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chooseUs__content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  align-content: center;
  justify-items: self-start;
  padding: 0 10rem;
  background-color: #423a36;
}

@media screen and (max-width: 1500px) {
  .chooseUs__content {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .chooseUs__content {
    padding: 0 2rem;
    justify-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .chooseUs__content {
    padding: 10rem 2rem;
    text-align: center;
  }
}

.chooseUs__content .paragraph {
  max-width: 70%;
  font-weight: 300;
}

@media screen and (max-width: 1300px) {
  .chooseUs__content .paragraph {
    max-width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .chooseUs__content .paragraph {
    max-width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .chooseUs__content .paragraph {
    max-width: 80%;
  }
}

.testimonials__wrapper {
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.testimonials__wrapper-content {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}

.activities__content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  align-content: center;
  justify-items: self-start;
  padding: 0 10rem;
  background-color: #faf6f1;
}

@media screen and (max-width: 1500px) {
  .activities__content {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .activities__content {
    padding: 0 2rem;
    justify-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .activities__content {
    padding: 10rem 2rem;
    text-align: center;
  }
}

.activities__content .paragraph {
  max-width: 70%;
  font-weight: 300;
}

@media screen and (max-width: 1300px) {
  .activities__content .paragraph {
    max-width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .activities__content .paragraph {
    max-width: 60%;
  }
}

.activities__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1300px) {
  .activities__gallery {
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .activities__gallery {
    grid-template-columns: 1fr;
  }
}

.attractions .paragraph {
  max-width: 70%;
}

.attractions .attractions__map {
  max-width: 70%;
  height: auto;
}

.attractions .attractions__map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/Holiday-activitiy-showcase.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.parallax-banner .heading-one-showcase {
  max-width: 50%;
}

.parallax-banner-rating {
  display: flex;
  align-items: center;
}

.parallax-banner-rating .rating-star {
  margin: 0 0.5rem;
}

.parallax-banner-rating .rating-star i {
  font-size: 3rem;
  color: #fff;
}

.rooms .heading-four {
  margin-bottom: 10rem;
}

.rooms__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 50rem));
  gap: 5rem;
}

@media screen and (max-width: 1000px) {
  .rooms__container {
    grid-template-columns: repeat(2, minmax(30rem, 50rem));
  }
}

@media screen and (max-width: 768px) {
  .rooms__container {
    grid-template-columns: minmax(30rem, 60rem);
  }
}

.experience__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in-out;
}

.experience__box .paragraph {
  max-width: 60%;
}

@media screen and (max-width: 1000px) {
  .experience__box {
    height: 40rem;
  }
}

.experience__box:first-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/experience-showcase-1.jpg");
}

.experience__box:last-child {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/experience-showcase-2.jpg");
}

.experience__box:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.blog-posts__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 50rem));
  gap: 5rem;
}

@media screen and (max-width: 1300px) {
  .blog-posts__cards {
    grid-template-columns: repeat(2, minmax(30rem, 50rem));
  }
}

@media screen and (max-width: 768px) {
  .blog-posts__cards {
    grid-template-columns: minmax(30rem, 60rem);
  }
}

.blog-posts__cards .post {
  height: 45rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  background-color: #fff;
  border: 0.5rem solid #e9e9e9;
}

@media screen and (max-width: 1300px) {
  .blog-posts__cards .post {
    height: 50rem;
    padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-posts__cards .post {
    height: 40rem;
  }
}

.blog-posts__cards .post__showcase {
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  padding: 5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/blog-post-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-posts__cards .post__showcase .post__details .date {
  color: #c8c0b8;
}

@media screen and (max-width: 1300px) {
  .blog-posts__cards .post__showcase {
    height: 50rem;
    padding: 3rem;
  }
}

.blog-posts__cards .post__details {
  font-size: 1.3rem;
  font-weight: 400;
}

.blog-posts__cards .post__details .labels {
  position: relative;
  padding-right: 1rem;
  color: #cf9d6c;
}

.blog-posts__cards .post__details .labels::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.15rem;
  border-radius: 5rem;
  background-color: #c8c0b8;
}

.blog-posts__cards .post__details .date {
  padding-left: 0.5rem;
  color: #191919;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
  background-color: #423a36;
}

.footer__logo {
  margin-bottom: 7rem;
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 40rem));
  margin-bottom: 7rem;
}

@media screen and (max-width: 1000px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .footer__info {
    margin-bottom: 0;
  }
}

.footer__social-media {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, 40rem));
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  padding: 3rem 0;
  border-top: 0.15rem solid #c8c0b8;
  border-bottom: 0.15rem solid #c8c0b8;
}

@media screen and (max-width: 1300px) {
  .footer__social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__copyright {
  font-size: 1.7rem;
  font-weight: 400;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .heading-two-showcase {
  margin-bottom: 5rem;
}

.contact__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 40rem));
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;
  padding: 0 5rem;
}

@media screen and (max-width: 1000px) {
  .contact__cards {
    grid-template-columns: repeat(2, minmax(25rem, 40rem));
  }
}

@media screen and (max-width: 768px) {
  .contact__cards {
    grid-template-columns: 1fr;
  }
}

.contact__cards-card {
  height: 30rem;
  border: 0.5rem solid #e9e9e9;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact__cards-card .card-icon {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.2rem solid #e9e9e9;
  transition: all 0.4s ease;
}

.contact__cards-card .heading-three-showcase {
  transition: all 0.4s ease;
}

.contact__cards-card .card-icon i {
  font-size: 4rem;
  color: #cf9d6c;
  transition: all 0.4s ease;
}

.contact__cards-card .paragraph {
  max-width: 60%;
}

.contact__cards-card:hover .heading-three-showcase {
  color: #cf9d6c;
}

.contact__cards-card:hover .card-icon {
  background-color: #cf9d6c;
  border-color: #cf9d6c;
}

.contact__cards-card:hover .card-icon i {
  color: #fff;
}

.contact__map {
  width: 100%;
  height: 55rem;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.questions .paragraph {
  max-width: 60rem;
}

.primary-button {
  background-color: #cf9d6c;
  border-radius: 0.5rem;
}

.primary-button:hover {
  background-color: #423a36;
}

.light {
  background-color: #fff;
  color: #191919;
}

.light:hover {
  background-color: #cf9d6c;
  color: #fff;
}

.arrow-button {
  width: 5rem;
  height: 5rem;
  padding: 0;
  background-color: transparent;
  border: 0.3rem solid #cf9d6c;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #cf9d6c;
}

.arrow-button:hover {
  background-color: #cf9d6c;
  color: #fff;
}

.transparent-button {
  border: 0.25rem solid #cf9d6c;
  color: #cf9d6c;
}

.transparent-button:hover {
  background-color: #cf9d6c;
  color: #fff;
}

.hamburger-toggler {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hamburger-toggler {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 6rem;
    cursor: pointer;
    overflow: hidden;
  }
  .hamburger-toggler .line {
    width: 4rem;
    height: 0.4rem;
    margin: 0.35rem 0;
    background-color: #fff;
    border-radius: 3rem;
    transition: all 0.4s ease;
  }
  .hamburger-toggler.active .line:first-child {
    transform: translateY(1.1rem) rotate(45deg);
  }
  .hamburger-toggler.active .line:nth-child(2) {
    transform: translateX(-150%);
  }
  .hamburger-toggler.active .line:last-child {
    transform: translateY(-1.1rem) rotate(-45deg);
  }
}

@media screen and (max-width: 1000px) {
  .header__topbar .primary-button {
    display: none;
  }
  .header__topbar .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    z-index: 150;
  }
  .header__topbar .hamburger .line {
    width: 4rem;
    height: 0.4rem;
    margin: 0.3rem 0;
    background-color: #cf9d6c;
    border-radius: 4rem;
    transition: all 0.4s ease;
  }
  .header__topbar .hamburger.active .line:first-child {
    transform: translateY(1rem) rotate(45deg);
  }
  .header__topbar .hamburger.active .line:nth-child(2) {
    transform: translateX(200%);
  }
  .header__topbar .hamburger.active .line:last-child {
    transform: translateY(-1rem) rotate(-45deg);
  }
}

@media screen and (max-width: 1000px) {
  .header__navbar {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.96);
    z-index: 50;
    transition: all 0.4s ease;
  }
  .header__navbar .list-item {
    margin: 3rem 0;
  }
  .header__navbar .list-item .navbar-link {
    font-size: 2rem;
  }
  .header__navbar.open {
    left: 0%;
  }
}

.chooseUs__content-features {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 5rem;
}

@media screen and (max-width: 1500px) {
  .chooseUs__content-features {
    column-gap: 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .chooseUs__content-features {
    column-gap: 3rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .chooseUs__content-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.chooseUs__content-features .feature {
  display: grid;
  grid-template-columns: 5rem minmax(min-content, 1fr);
  align-items: center;
  column-gap: 2rem;
}

@media screen and (max-width: 1300px) {
  .chooseUs__content-features .feature {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }
}

.chooseUs__content-features .feature i {
  font-size: 3rem;
  color: #cf9d6c;
}

.chooseUs__content-features .feature .feature-label {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.chooseUs__content-features .feature:hover .feature-label {
  color: #cf9d6c;
}

.testimonial-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.4s ease;
}

.testimonial-slide .testimonial-rating {
  display: flex;
}

.testimonial-slide .testimonial-rating .testimonial-star {
  display: inline-block;
  margin: 0 0.3rem;
}

.testimonial-slide .testimonial-rating .testimonial-star i {
  font-size: 2rem;
  color: #cf9d6c;
}

.testimonial-slide .heading-three-testimonial {
  max-width: 60%;
}

.testimonial-slide .testimonial-profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-slide .testimonial-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.activities__content-features {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  row-gap: 5rem;
}

@media screen and (max-width: 1500px) {
  .activities__content-features {
    column-gap: 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .activities__content-features {
    column-gap: 3rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .activities__content-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.activities__content-features .feature {
  display: grid;
  grid-template-columns: 5rem minmax(min-content, 1fr);
  align-items: center;
  column-gap: 2rem;
}

@media screen and (max-width: 1300px) {
  .activities__content-features .feature {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
  }
}

.activities__content-features .feature i {
  font-size: 3rem;
  color: #cf9d6c;
}

.activities__content-features .feature .feature-label {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #191919;
  transition: all 0.25s ease-in-out;
}

.activities__content-features .feature:hover .feature-label {
  color: #cf9d6c;
}

.activities__gallery-item {
  position: relative;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

.activities__gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}

.activities__gallery-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
  z-index: 10;
}

.activities__gallery-item:nth-child(1)::before {
  content: 'Outdoor bbq';
}

.activities__gallery-item:nth-child(2)::before {
  content: 'Nature Walk';
}

.activities__gallery-item:nth-child(3)::before {
  content: 'Lake swimming';
}

.activities__gallery-item:nth-child(4)::before {
  content: 'Campfire';
}

.activities__gallery-item:hover img {
  filter: brightness(30%);
}

.activities__gallery-item:hover::before {
  opacity: 1;
}

.rooms__container-room {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.rooms__container-room .room-showcase-image {
  position: relative;
}

.rooms__container-room .room-showcase-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
  transition: all 0.25s ease-in-out;
}

.rooms__container-room .room-showcase-image::before {
  content: '';
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  z-index: 10;
}

.rooms__container-room .room-1::before {
  content: 'Double Room';
}

.rooms__container-room .room-2::before {
  content: 'Luxury Room';
}

.rooms__container-room .room-3::before {
  content: 'Preimum Room';
}

.rooms__container-room .room-4::before {
  content: 'Classic Room';
}

.rooms__container-room .room-5::before {
  content: 'Budget Room';
}

.rooms__container-room .room-6::before {
  content: 'Single Room';
}

.rooms__container-room .heading-four-showcase {
  position: relative;
  margin-bottom: 6rem;
}

.rooms__container-room .heading-four-showcase::before {
  content: '';
  position: absolute;
  bottom: -5.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0;
  width: 0.2rem;
  height: 4rem;
  background-color: #cf9d6c;
}

.rooms__container-room .heading-four-showcase .price-label {
  font-size: 2.5rem;
  font-weight: 600;
}

.rooms__container-room:hover {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

.rooms__container-room:hover .room-showcase-image img {
  filter: brightness(60%);
}

.footer__info-block {
  padding: 0 5rem;
}

@media screen and (max-width: 1000px) {
  .footer__info-block {
    margin-bottom: 5rem;
    padding: 0;
  }
}

.footer__info-block .footer__info-links {
  display: flex;
  flex-direction: column;
}

.footer__info-block .footer__info-links .list-item {
  margin: 2rem 0;
}

.footer__info-block .footer__info-links .list-item .footer-link {
  font-size: 1.5rem;
  color: #c8c0b8;
  transition: all 0.25s ease-in-out;
}

.footer__info-block .footer__info-links .list-item .footer-link:hover {
  color: #cf9d6c;
}

.footer__info-block:nth-child(2) {
  border-left: 0.15rem solid #c8c0b8;
  border-right: 0.15rem solid #c8c0b8;
}

@media screen and (max-width: 1000px) {
  .footer__info-block .footer__info-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer__info-block .footer__info-links .list-item {
    margin: 0 3rem;
  }
  .footer__info-block:nth-child(2) {
    border: none;
  }
}

@media screen and (max-width: 500px) {
  .footer__info-block .footer__info-links {
    flex-direction: column;
    align-items: center;
  }
  .footer__info-block .footer__info-links .list-item {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__info-block:nth-child(2) {
    display: none;
  }
}

.footer__social-media .email-form {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .footer__social-media .email-form {
    margin: 3rem 0;
  }
}

.footer__social-media .email-form .form-input {
  width: 25rem;
  padding: 1.5rem;
  background-color: #3b3430;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #c8c0b8;
}

.footer__social-media .social-links .social-link {
  display: inline-block;
  margin: 0 1rem;
}

.footer__social-media .social-links .social-link a {
  font-size: 2.5rem;
  color: #c8c0b8;
  transition: all 0.25s ease-in-out;
}

.footer__social-media .social-links .social-link a:hover {
  color: #cf9d6c;
}

.questions__form {
  width: 100%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.questions__form-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .questions__form-element {
    grid-column: 1 / -1;
  }
}

.questions__form-element .label-showcase {
  margin-bottom: 1.5rem;
}

.questions__form-element .form-input {
  padding: 1.5rem 2rem;
  border: 0.15rem solid #e9e9e9;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.7rem;
  transition: all 0.4s ease;
}

.questions__form-element .form-input:focus {
  border-color: #cf9d6c;
}

.questions__form-element:last-of-type {
  grid-column: 1 / -1;
  width: 100%;
}

.questions__form-element:last-of-type .form-input {
  resize: vertical;
  min-height: 15rem;
  max-height: 30rem;
}

.questions__form .primary-button {
  grid-column: 1 / -1;
}
