.heading-one {
	line-height: 1.5;
	font-size: 3.5rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
}

.heading-two {
	line-height: 1.5;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
}

.paragraph {
	line-height: 1.3;
	font-size: 1.3rem;
	font-weight: 400;
}

.header__navbar-logo {
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.repo-label {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}
