.header__navbar-wrapper {
	display: grid;
	grid-template-columns: min-content 1fr min-content max-content;
	column-gap: 3rem;
	align-items: center;
	width: 100%;
	max-width: 144rem;
	height: 100%;
	margin: 0 auto;
	padding: 2rem 4rem;
	color: $light-color-1;

	.navbar-logo {
		grid-column: 1 / 2;
		display: flex;
		align-items: center;

		.fas {
			display: inline-block;
			margin-right: 1rem;
			font-size: 2.5rem;
		}

		.logo-label {
			font-family: $showcase-font;
			font-size: 2rem;
			font-weight: 600;
			letter-spacing: 0.2rem;
		}
	}

	.primary-button {
		grid-column: 4 / 5;

		@media screen and (max-width: 900px) {
			display: none;
		}
	}
}

.header__showcase-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	.paragraph {
		width: 50rem;
	}
}
