.grid {
	min-height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(5rem, 1fr) [center-start] repeat(12, minmax(min-content, 15rem)) [center-end]
		minmax(5rem, 1fr);
	background-image: url('../../images/pattern.jpg');
	background-repeat: repeat;
}

.header,
.header-secondary {
	height: 65vw;
	grid-column: 2 / span 12;

	@media screen and (max-width: $bp-desktopLarge) {
		grid-column: 1 / -1;
	}

	@media screen and (max-width: $bp-laptopSize) {
		height: 100vw;
	}

	@media screen and (max-width: $bp-tabletSize) {
		height: 100rem;
	}
}

.header-secondary {
	height: 60rem;

	@media screen and (max-width: $bp-laptopSize) {
		height: 50rem;
	}

	@media screen and (max-width: $bp-tabletSize) {
		height: 50rem;
	}
}

.showcase-details {
	grid-column: 4 / 12;
	padding: 15rem 0rem;

	@media screen and (max-width: $bp-laptopSize) {
		grid-column: 1 / -1;
		padding: 15rem 5rem;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 10rem 5rem;
	}

	@media screen and (max-width: $bp-smartPhone) {
		padding: 10rem 2rem;
	}
}

.chooseUs {
	height: 80rem;
	grid-column: 2 / span 12;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media screen and (max-width: $bp-desktopLarge) {
		grid-column: 1 / -1;
	}

	@media screen and (max-width: $bp-tabletSize) {
		grid-template-columns: 1fr;
		height: auto;
	}
}

.testimonials {
	height: 65rem;
	grid-column: 4 / 12;
	padding: 10rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: $bp-laptopSize) {
		grid-column: 1 / -1;
		padding: 10rem 5rem;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 10rem 2rem;
	}
}

.activities {
	height: 80rem;
	grid-column: 2 / span 12;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media screen and (max-width: $bp-desktopLarge) {
		grid-column: 1 / -1;
	}

	@media screen and (max-width: $bp-tabletSize) {
		grid-template-columns: 1fr;
		height: auto;
	}
}

.attractions {
	grid-column: 4 / 12;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 15rem 0;

	@media screen and (max-width: $bp-laptopSize) {
		grid-column: 1 / -1;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 10rem 2rem;
	}
}

.parallax-banner {
	height: 50rem;
	grid-column: 2 / span 12;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	@media screen and (max-width: $bp-desktopLarge) {
		grid-column: 1 / -1;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 0 3rem;
	}
}

.rooms {
	grid-column: 4 / 12;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15rem 0;

	@media screen and (max-width: $bp-laptopSize) {
		grid-column: 1 / -1;
		padding: 15rem 5rem;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 10rem 2rem;
		text-align: center;
	}
}

.experience {
	height: 50rem;
	grid-column: 2 / span 12;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5rem;

	@media screen and (max-width: $bp-desktopLarge) {
		grid-column: 1 / -1;
	}

	@media screen and (max-width: $bp-tabletSize) {
		grid-template-columns: 1fr;
		height: auto;
		gap: 2rem;
	}
}

.blog-posts {
	grid-column: 4 / 12;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10rem 0;

	@media screen and (max-width: $bp-laptopSize) {
		grid-column: 1 / -1;
		padding: 10rem 5rem;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 10rem 2rem;
	}
}

.footer {
	grid-column: 2 / span 12;

	@media screen and (max-width: $bp-desktopLarge) {
		grid-column: 1 / -1;
	}
}

// CONTACT PAGE
.contact {
	grid-column: 2 / span 12;
	padding-top: 15rem;

	@media screen and (max-width: $bp-laptopSize) {
		grid-column: 1 / -1;
	}
}

.questions {
	grid-column: 2 / span 12;
	padding: 15rem 0;

	@media screen and (max-width: $bp-tabletSize) {
		grid-column: 1 / -1;
		padding: 10rem 5rem;
	}

	@media screen and (max-width: $bp-tabletSmall) {
		padding: 10rem 2rem;
	}
}
