.rooms .heading-four {
	margin-bottom: 10rem;
}

.rooms__container {
	display: grid;
	grid-template-columns: repeat(3, minmax(30rem, 50rem));
	gap: 5rem;

	@media screen and (max-width: $bp-mobileLarge) {
		grid-template-columns: repeat(2, minmax(30rem, 50rem));
	}

	@media screen and (max-width: $bp-mobileMedium) {
		grid-template-columns: 1fr;
	}
}
