.showcase-details {
	display: grid;
	grid-template-columns: repeat(3, minmax(30rem, 40rem));
	gap: 5rem;
	align-items: center;

	&-card {
		height: 45rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		padding: 5rem;
		background-color: $light-color-1;
		border: 0.5rem solid $light-color-3;
		transition: $hover-transition;

		@media screen and (max-width: $bp-laptopSize) {
			height: 50rem;
		}

		.showcase-icon {
			width: 15rem;
			height: 15rem;
			border-radius: 50%;
			border: 0.5rem solid $light-color-3;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.heading-three-showcase {
			transition: $hover-transition;
		}
	}

	&-card:hover .heading-three-showcase {
		color: $primary-color-2;
	}

	&-card:hover {
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
	}
}
