.heading-one {
	@extend %heading;
	font-size: 3rem;
}

.heading-one-showcase {
	@extend %heading;
	font-size: 6rem;
	font-family: $showcase-font;
	font-weight: 400;
	text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);

	@media screen and (max-width: $bp-tabletSize) {
		font-size: 4rem;
	}

	@media screen and (max-width: $bp-smartPhone) {
		font-size: 3rem;
	}
}

.heading-one-testimonial {
	@extend %heading;
	font-size: 6rem;
	font-family: $testimonial-font;
	text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);

	@media screen and (max-width: $bp-tabletSize) {
		font-size: 4rem;
	}
}

.heading-two {
	@extend %heading;
	font-size: 3rem;
}

.heading-two-showcase {
	@extend %heading;
	font-family: $showcase-font;
	font-size: 4rem;
	font-weight: 400;

	@media screen and (max-width: $bp-smartPhone) {
		font-size: 3rem;
	}
}

.heading-three {
	@extend %heading;
	font-size: 2rem;

	@media screen and (max-width: $bp-tabletSize) {
		font-size: 1.6rem;
	}

	@media screen and (max-width: $bp-smartPhone) {
		font-size: 1.2rem;
	}
}

.heading-three-showcase {
	@extend %heading;
	font-size: 2rem;
	font-family: $showcase-font;
}

.heading-three-testimonial {
	@extend %heading;
	font-size: 2rem;
	font-family: $testimonial-font;

	@media screen and (max-width: $bp-tabletSize) {
		font-size: 1.3rem;
	}
}

.heading-four {
	@extend %heading;
	font-size: 1.5rem;
}

.heading-four-showcase {
	@extend %heading;
	font-size: 1.5rem;
	font-family: $showcase-font;
}

.paragraph {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	color: $light-color-1;
	line-height: 1.5;
}

.label-showcase {
	font-family: $testimonial-font;
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

.dark {
	color: $dark-color-1;
}

.light-text {
	color: $light-color-3;
}

.primary-text {
	color: $primary-color-2;
}

.light-font {
	font-weight: 300;
}
