html {
	font-family: $primary-font;
	font-size: 62.5%;
	font-weight: 300;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app {
	min-height: 80vh;
	width: 100%;
	max-width: 120rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 20vh 50vh;
	border-radius: 1rem;
	overflow: hidden;

	&__header {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	&__content {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		align-self: flex-end;
		justify-self: center;
		z-index: 100;
	}

	#app__map {
		height: 60rem;
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		width: 100%;
		z-index: 1;
	}
}

.mb-small {
	margin-bottom: 1rem;
}

.mb-medium {
	margin-bottom: 2rem;
}

.mb-large {
	margin-bottom: 4rem;
}
