@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
$christmas-font: 'Mountains of Christmas', cursive;

// COLORS
$light-color: #ffffff;
$primary-red: #bb2528;
$secondary-red: #ea4630;
$primary-green: #165b33;
$secondary-green: #146b3a;
$primary-color-4: #e7e0d6;
$primary-color-5: #e2d3c0;
