// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

$primary-font: 'Montserrat', sans-serif;

// COLORS
$light-color-1: #fff;
$light-color-2: #aaa;
$dark-color-1: #00003f;

// TRANSITIONS
$transition: 0.25s ease-in-out;
