@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
$default-font: 'Montserrat', sans-serif;

// COLORS
$primary-color-1: #0c0f26;
$primary-color-2: #171934;
$primary-color-3: #1c223a;
$primary-color-4: #faa728;

$text-color-1: #fff;
$text-color-2: #6d6fe9;
$text-color-3: #4b4e60;

$bp-xlarge: 1400px;
$bp-large: 1150px;
$bp-medium: 850px;
$bp-small: 650px;

$utility-bp: 950px;
$utility-bp-2: 800px;
$utility-bp-3: 550px;
$utility-bp-4: 450px;
