@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

$font: 'Montserrat', sans-serif;

$light-color-1: #fff;
$light-color-2: #f6f6f6;
$light-color-3: #eeeeee;

$primary-color: #5f7daf;
$dark-color: #222;
