@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&display=swap');
$font-family: 'Montserrat', sans-serif;

// COLORS
$light-color-1: #fff;
$light-color-2: #9e9e9e;

$dark-color-1: #24282f;
$dark-color-2: #202329;
$dark-color-3: #3c3e44;

$recovered-color: #3cb36f;
$active-color: #f9bf2f;
$death-color: #e3401b;

$primary-color: #2969eb;
$primary-color-2: #4a86ff;
