html {
	scroll-behavior: smooth;
	font-family: $primary-font-family;
	font-weight: 300;
	font-size: 62.5%;
	line-height: 1.5;
	color: $dark-color-1;

	@media screen and (max-width: $bp-large) {
		font-size: 50%;
	}
}

body {
	min-height: 100vh;
	width: 100%;
}

.mb-small {
	margin-bottom: 1rem;
}

.mb-medium {
	margin-bottom: 2rem;
}

.mb-large {
	margin-bottom: 4rem;
}

.mb-xlarge {
	margin-bottom: 6rem;
}

.dark-color {
	color: $dark-color-1;
}

.light-color {
	color: $light-color-1;
}

.primary-text-color {
	color: $primary-color;
}

.faded {
	filter: blur(0.3rem);
	-webkit-filter: blur(0.3rem);
}
