// LABELS
.label {
	padding: 1rem;
	background-color: $light-color-1;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
}

.inner-content__label {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $light-color-1;
}

.inner-content__price {
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $primary-color;
}

.about-us-label {
	background-color: $dark-color-1;
	color: $light-color-1;
}

.contant-label {
	font-size: 2rem;
	font-weight: 500;
	color: $light-color-1;
}

// HEADINGS
.heading-one {
	@extend %headings;
	margin-bottom: 10rem;
	font-size: 10rem;

	@media screen and (max-width: $bp-xlarge) {
		font-size: 8rem;
	}

	@media screen and (max-width: $bp-small) {
		font-size: 5rem;
	}
}

.heading-two {
	@extend %headings;
	font-size: 5rem;
}

.heading-three {
	@extend %headings;
	font-size: 2.5rem;
}

.inner-content .heading-three {
	max-width: 50%;
	margin: 0 auto;
	transform: rotate(-10deg);
}

.heading-four {
	@extend %headings;
	font-size: 1.8rem;
}

// UL LIST ITEMS
.horizontal-list-item {
	margin: 0 2rem;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $primary-color;
	transition: $hover-transition;

	.navbar-link {
		color: inherit;
	}

	&:hover {
		opacity: 0.8;
	}
}

// PARAGRAPHS
.paragraph {
	font-family: $secondary-font-family;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	line-height: 1.5;
}

// SECONDARY FONR ELEMENTS
.secondary-font {
	font-size: 8rem;
	font-weight: 600;
	font-family: $secondary-font-family;
}
