html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media all and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
  transition: all 0.2s ease;
}