@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$font: 'Open Sans', sans-serif;

$primary-color: #5865e5;
$light-color-1: #ffffff;
$light-color-2: #f5f6f8;
$light-color-3: #c3c3c4;
$dark-color-1: #222222;
