@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
$default-font: 'Montserrat', sans-serif;

$light-color-1: #fff;
$dark-color-1: #222222;
$dark-color-2: #24282f;
$dark-color-3: #202329;
$dark-color-4: #3c3e44;
$primary-color: #d86876;
$background-gradient: linear-gradient(to right, #868f96 0%, #596164 100%);
