// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

$primary-font: 'Montserrat', sans-serif;
$showcase-font: 'Bowlby One SC', cursive;

// COLORS
$dark-color-1: #24282f;
$dark-color-2: #202329;
$dark-color-3: #3c3e44;

$light-color-1: #f5f5f5;
$light-color-2: #888f98;
$light-color-3: #8e9e9e;

$alive-color: #4ce21f;
$dead-color: #b80f0b;
$unknow-color: #cacfd5;

// TRANSITIONS
$hover-transition: 0.25s ease-out;
$element-transition: all 0.5s ease-in-out;
