@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');
$font: 'Karla', sans-serif;

// COLORS
$dark-color-1: #0f0f0f;
$dark-color-2: #1c1c1c;

$light-color-1: #d4d4d2;
$light-color-2: #505050;

$primary-color: #ff9500;
