html {
	font-family: $primary-font;
	font-size: 62.5%;
	font-weight: 300;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: $dark-color-2;
	display: flex;
	justify-content: center;
	align-items: center;
}
